@model SchoolMaster.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">EnrollmentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentId)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">FirstMidName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstMidName)
    </div>

    <div class="display-label">EnrollmentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentDate)
    </div>

    <div class="display-label">Group</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">FinalMark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinalMark)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
