@model SchoolMaster.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">EnrollmentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentId)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">credits</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.credits)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
